// Typography
@import url("https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i|Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext");

body {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
  font-weight: 500;
  color: #263238;
  background-color: #eceff1;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #37474f;
  }
}
// Header
header {
  padding: 10px 0;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 5px 5px -5px rgba(15, 20, 22, 0.25);

  .logo {
    a {
      display: block;
      transition: all 0.25s ease-in;

      &:hover {
        text-decoration: none;
        opacity: 0.75;
      }

      h2 {
        margin: 0;
      }
    }

  }

  .nav {
    a {
      font-family: "Nunito", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      transition: all 0.25s ease-in;
    }
  }
}
// Core
section {
  padding: 50px 0;
}
// Forms
.searchBooks, .btn {
  transition: all 0.25s ease-in;
}
// Books
.books {
  .bookShelfContainer {
    position: relative;
    transition: all 0.75s ease-in;

    .bookShelf {
      margin-bottom: 50px;
      box-shadow: 0 100px 100px -100px rgba(15, 20, 22, 0.5);

      .row:empty {
        &::after {
          content: "No books found!";
          width: 100%;
          padding: 30px;
          color: #78909C;
          text-align: center;
          font-size: 0.8em;
          font-weight: 500;
        }
      }

      .bookShelfTitle {
        margin-bottom: 15px;
      }

      .bookContainer {
        transition: all 0.25s ease-in;

        .book {
          background-color: white;
          box-shadow: 0 0 5px rgba(15, 20, 22, 0.25);
          border-radius: 5px;
          margin-bottom: 30px;
          position: relative;
          overflow: hidden;
          transition: all 0.25s ease-in;

          &:hover {
            box-shadow: 0 5px 15px rgba(15, 20, 22, 0.75);
            -ms-transform: translate(0, -5px);
            /* IE 9 */
            -webkit-transform: translate(0, -5px);
            /* Safari */
            transform: translate(0, -5px);

            .thumbnail {
              .bookImage {
                img {
                  box-shadow: 0 0 5px rgba(15, 20, 22, 0.75);
                }
              }
            }

            .overlay {
              opacity: 1;
            }
          }

          .thumbnail {
            padding-top: 15px;
            padding-bottom: 15px;

            .header {
              .bookTitle {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 0;
              }
            }

            .bookImage {
              min-height: 250px;
              padding: 0 15px;

              img {
                margin-left: auto;
                margin-right: auto;
                box-shadow: 0 0 25px rgba(15, 20, 22, 0.5);
                border-radius: 5px;
                transition: all 0.25s ease-in;
              }
            }

            .footer {
              font-size: 0.8em;
              line-height: 1.2em;

              .publisher {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 700;
              }

              .publishedDate {
                font-size: 0.6em;
                color: #90a4ae;
              }
            }
          }

          .overlay {
            padding-top: 15px;
            padding-bottom: 15px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            background-color: rgba(15, 20, 22, 0.95);
            transition: all 0.25s ease-in;
            height: 100%;
            color: white;

            .description {
              font-size: 0.8em;
              font-weight: 500;
            }

            .shelfLabel {
              color: white;
              margin-top: 20px;
              margin-bottom: 5px;
            }

            select {
              width: 100%;
              border-radius: 5px;
              border: none;
              padding: 0.5em 0.75em;
              color: #37474F;
              font-size: 0.6em;
              font-weight: 700;
            }

            .extra {
              position: absolute;
              bottom: 15px;
              width: 100%;

              .bookAuthors {
                list-style-type: none;
                margin: 0;
                font-size: 0.6em;
                text-align: right;
              }
            }
          }
        }
      }

      &.wantToRead {
        .book {
          background-color: #fffde7;
        }
      }

      &.read {
        .book {
          background-color: #eceff1;

          .thumbnail {
            .bookImage {
              img {
                -webkit-filter: grayscale(100%);
                /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
                box-shadow: 0 0 5px rgba(15, 20, 22, 0.5);
              }
            }
          }
        }
      }
    }
  }
}
